anytree
appdirs
https://github.com/nasanga/asiyah/archive/refs/tags/0.11.2.zip
attrdict
beautifulsoup4
cfscrape
feedparser
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
lk21
lxml
megasdkrestclient
pillow
psutil
psycopg2-binary
pybase64
pyrogram
python-dotenv
python-magic
python-telegram-bot
https://github.com/nasanga/dgjug/archive/refs/tags/v2022.4.30.zip
requests
six
telegraph
tenacity
tgCrypto
urllib3
yt-dlp
